body {
    font-size: 100%;
    width: 550px;
    margin:auto;
    border: 3px solid blue;
    padding: 15px 25px 15px 15px;
}
h1{
    font-size: 150%;
}

h2{
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(images/images/plus.png) no-repeat left center;
}

h2.minus {
    background: url(images/images/minus.png) no-repeat left center; 
}

a {
    color: black;
    text-decoration: none;
}

div{
    display:none
}

div.open{
    display: block;
}

ul{
    padding-left: 45px;
}
li{
    padding-bottom: .25em;
}

p{
    padding-bottom: .25em;
    padding-left: 25px;
}