h1{
    font-size: 34px !important;
    font-style: italic;
}

.container{
    margin-left: 80px;
}
#dept{
    color: blue;
    font-style: normal;
    
}

#table{
    margin-top: 40px;
    
}
#welcome{
    margin-top: 50px;
    font-weight: 500;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#cat{
    margin-top: 10px;
    margin-right: 150px;

}

.data{
    font-weight: 500;
}
